$coral: #FF6B6B;
$med_turq: #4ECDC4;
$yellow: #FFE66D;

.btn {
  background-color: $med_turq;
  border-radius: 8px;
  padding: 10px 16px;
  &:hover {
    background-color: $yellow;
  }
  a {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: none;
      color: white;
      font-weight: bold;
    }
  }
}
