$yellow: #FFE66D;
$coral: #FF6B6B;

.container {
  width: 1000px;
  margin: auto;
  margin-bottom: 36px;
  .card {
    height: 300px;
    width: 280px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    box-shadow: 2px 2px 3px grey;
    transition: all 0.3s ease;
    &:hover {
      transform: scale(1.03);
      box-shadow: 2px 2px 6px $coral;
    }
    a {
      padding-top: 16px;
      color: white;
      font-size: 1.2em;
      text-decoration: none;
      transition: 0.3s ease;
      &:hover {
        font-weight: bold;
        font-size: 1.6em;
      }
    }
  }
}