$dark_turq: #1A535C;
$pale: #F7FFF7;

.header {
  width: 100%;
  height: 80px;
  background-color: $dark_turq;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    font-family: 'Raleway Dots';
    font-size: 3em;
    color: $pale;
    letter-spacing: 0.3em;
  }
}

