// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import "card";
@import "header";
@import "btn";


.banner {
  h2 {
    font-family: 'Raleway';
    font-weight: bold;
    color: $coral;
    border-bottom: $coral 2px solid;
    padding-right: 40px;
  }
}
